* {
    box-sizing: border-box;
}

html,
body {
    font-family: monospace;
    font-size: 100%;
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

::selection {
    background-color: #555555;
    color: #fff9f9;
}

::-moz-selection {
    background-color: #555555;
    color: #fff9f9;
}

.fa-brands,
.fa-solid,
.fa-regular {
    vertical-align: middle;
    color: #d2d2d2;
    padding-right: 8px;
}

.fa-mug-hot {
    color: #d2d2d2;
    padding-right: 2px;
    padding-left: 2px;
}

.fa-terminal {
    color: #00cc44;
}

.fa-github-dark,
.fa-python-dark,
.fa-scroll-dark {
    vertical-align: middle;
    color: #111;
}

header,
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    z-index: 2;
}

header {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 999;
}

header a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

header:hover {
    color: #00cc44;
}

header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #333333, #444444);
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    transition: opacity 0.3s;
}

header:hover::before {
    opacity: 1;
}

.blink {
    display: inline-block;
    margin: 0;
    padding: 0;
    animation: blinker 0.6s linear infinite;
    color: #00cc44;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    z-index: 1;
}

.sidebar {
    flex: 1;
    background-color: #555555;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    line-height: 1.6;
    max-width: 25%;
    width: 100%;
    margin-bottom: 0px;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-bottom: 15px;
}

nav a {
    display: flex;
    align-items: center;
    background-color: #333333;
    color: #fff9f9;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    text-align: left;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #444444;
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.6;
    font-size: 18px;
    background-color: #bbbbbb;
    border-radius: 0px;
    margin-bottom: 0px;
}

.content a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: text-decoration 0.3s;
}

.content a:hover {
    text-decoration: underline;
}

.tags {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    font-size: 120%;
    margin-top: 0px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer a {
    color: #fff9f9;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #00cc44;
}

.index-header {
    background-color: #555555;
    color: #e6e6e6;
    font-weight: bold;
    line-height: 0.1;
    font-size: 20px;
    text-align: center;
}

.hide {
    display: none;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
}

.box {
    position: relative;
    flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    border: 2px solid #808080;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #c0c0c0;
}

img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #808080;
    transition: opacity 0.3s ease-in-out;
}

p {
    padding: 10px;
    margin: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: rgb(168, 168, 168);
}

button {
    font-family: monospace;
    font-size: 100%;
    background-color: #c0c0c0;
    color: #000000;
    padding: 5px 10px;
    border: 2px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease-in-out;
}

.box:hover img {
    opacity: 0.8;
}

button:hover {
    background-color: #808080;
}

.profile-container {
    margin-top: -60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.avatar-container {
    flex: 0 0 20%;
    margin-top: 50px;
    margin-bottom: -50px;
}

.avatar {
    width: 100%;
    shape-outside: border-box;
}

.profile-info {
    flex: 1 1 calc(80% - 20px);
    margin-top: 20px;
}

.tags-top,
.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.tags a:hover,
.tags-top a:hover {
    text-decoration: none;
}

.indexh1 {
    margin-left: 4px;
    font-size: 180%;
}

.indexh2 {
    font-size: 18px;
    margin-top: -35px;
    margin-bottom: 25px;
    margin-left: 6px;
    font-weight: 400;
}

blockquote {
    background-color: transparent;
    border-left: 10px solid #444444;
    padding: 0.5em 10px;
}

.github-card {
    background-color: #b4b4b4;
    border: none;
    max-width: 100%;
    width: auto;
    padding-left: 0px;
}

.indexPage {
    display: inline-block;
    background-color: transparent;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.projectsPage {}

.indexAvatar img {
    max-width: 150px;
    float: inline-start;
    border: none;
    background-color: transparent;
    margin: 20px 10px 0px 10px;
}

.hr-class {
    margin-top: -20px;
}

.github-repo {
    vertical-align: text-top;
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #707070;
    margin: 3px;
    border-radius: 5px;
}

.hr-class-projects {
    margin-bottom: 20px;
}

.projecth2-top {
    font-size: 120%;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 6px;
}

.projecth2 {
    font-size: 120%;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 6px;
}

.projectp {
    font-size: 100%;
}

.error404 {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
}

.error404 h1 {
    font-size: 50px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: -3px;
    margin: 0px;
}

.error404 p {
    margin: 0;
    line-break: normal;
    font-size: 20px;
}

.error404 img {
    max-width: fit-content;
    border: none;
}

.projectBox {
    background-color: #b4b4b4;
    display: flex;
    vertical-align: text-top;
    display: inline-block;
    width: 100%;
    height: auto;
    border: 1.5pt solid #707070;
    margin: 3px;
    border-radius: 5px;
}

.projectBox:hover {
    background-color: #a5a5a5;
    border-color: #444;
}

.projectBox a {
    font-weight: bold;
}

.projectBox a:hover {
    text-decoration: none;
}

.projectBox h3 {
    vertical-align: top;
    display: block;
    border-radius: 3px 3px 0px 0px;
    background-color: #999;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 100%;
    transition: background-color 0.3s ease-in-out;
}

.projectBox h3 a {
    padding: 5px 5px 5px 5px;
}

.projectBox h3 a:hover {
    text-decoration: none;
}

.projectBox h3:hover {
    background-color: #777777;
    text-decoration: none;
}

.projectBox p {
    text-align: left;
    line-height: 130%;
    padding: 10px;
}





/* @media should always be last in the code */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .box {
        flex: 1 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}